{# editor/modal/modalDialog.html.twig #}

 <div class="modal-dialog {{ modalSize | default('modal-lg') }} modal-dialog-centered">
    <div class="modal-content">

      {# Modal Header#}

      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>

        {# Restrictions # }

        {{ include('editor/restrictions.html.twig', {form: 'modal'}) } #}



        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      {# Modal Body#}



      <form class="modal-body" data-editor-target="modalContent">

       {{ modalContent|default('Loading...') }}

      </form> {# Modal Body #}


              {# Modal Footer #}

      {{ include('snippet/modalfooter.html.twig') }}

    </div>  {# Modal Content#}
  </div>  {# Modal Dialog #}
