{% extends 'base.html.twig' %}

{#

    Template variable
    - project
#}

{% block title %}
  {{ 'Home' | trans }}
{% endblock title%}


{% block body  %}

{% if form is defined %}
  {{ form_start(form) }}
{% endif %}

<div class="container-xl">


  <div class="row aalign-items-center justify-content-center" style="min-height: 100vh" >
    <div class="col-sm-8 mb-2">

      <div class="card w-100">
        <h6 class="card-header">Statistik</h6>
        <div class="card-body">

          <p>
            Individer: {{ project.individuals | length }}
          </p>

          <p>
            Familier: {{ project.families | length }}
          </p>

          <p>
            Medieobjecter: {{ project.mediaRecords | length }}
          </p>

          <p>
            Kilder: {{ project.sourceRecords | length }}
          </p>


          <p>
            Indsendere: {{ project.submitterRecords | length }}
          </p>

          <p>
            Repositories: {{ project.repositoryRecords | length }}
          </p>



        </div>
        <div class="card-footer d-grid d-md-flex gap-2 justify-content-md-end">
          {% block cardfooter %}
          <button class="btn btn--sm btn-outline-success"  type="submit"><i class="bi bi-check-lg"></i></button>
          <button class="btn btn--sm btn-outline-danger"  type="submit"><i class="bi bi-x-lg"></i></button>
          <button class="btn btn--sm btn-outline-primary"  type="submit"><i class="bi bi-question-lg"></i></button>
          {% endblock cardfooter %}
        </div>
      </div>
    </div>
    <div class="col-4">
      Test
    </div>
  </div>
</div>

{% if form is defined %}
  {{ form_end(form) }}
{% endif %}

{% endblock body %}




