{% extends 'base.html.twig' %}


{% block body %}

<div class="d-flex justify-content-center">
	<div class="card" style="width: 40rem;">
		<h1 class="card-header text-center">{{ product }}</h1>
		<div class="card-body" >
			<h3 class="card-title text-center"> {{ 'Web-based gedcom editor' | trans }}</h3>
			<h4 class="card-subtitle text-center"> {{ 'In development' | trans }}... </h4>
			<p>
        <h5>Vælg:</h5>
				<ul class="list-group list-group-flush">

					{% for tree in trees %}
            {% set _url = tree.url %}
            {% set _title = tree.title %}

					  <a href="{{ url('tree', {'url': _url}) }}"
					  	 class="list-group-item list-group-item-action">{{ tree.__toString }}
					  </a>
					{% endfor %}

				</ul>

			</p>


		</div>
		<div class="card-footer text-center">{{ copyright }}</div>
	</div>
</div>

{% endblock %}
