
<div id="NameStructure"
  class="col-10"
  data-action= "input->editor#updatePersonalNameStructure"
  data-editor-url-param="{{ url('api_individual_updatePersonalName', {url: 'Project01'} ) }}"
  data-editor-name-id-param= "">

  {# Personal Name #}

  <div class="row d-none">
    <div class="col mb2">
                 {{ form_row(form.personalName) }}
    </div>
  </div>


  {# Fornavne #}

  <div class="row mb-2">

    <div class="col-3 mb2">
                 {{ form_row(form.namePieces.npfx) }}
    </div>

    <div class="col-9">
                  {{ form_row(form.namePieces.givn) }}
    </div>
  </div>

  {# Efternavn #}

  <div class="row">

    <div class="col-3">
                 {{ form_row(form.namePieces.spfx) }}
    </div>

    <div class="col-6">
                 {{ form_row(form.namePieces.surn) }}
    </div>

    <div class="col-3">
                 {{ form_row(form.namePieces.nsfx) }}
 
    </div>
  </div>

              <!-- Diverse navnestof, etc -->

  <div class="row">

    <div class="col-9">
                  {{ form_row(form.namePieces.nick) }}
                  
    </div>
  
    <div class="col-3">
      <div class="mb-2">
        {{ form_label(form.nameType, t("Type"), {'label_attr': {'class': 'small'}}) }}
        {{ form_widget(form.nameType, {'attr': {'class': 'form-control-sm shadow', 'list': 'enum-name-type' }})}}
        <datalist id="enum-name-type">
                      <option value="AKA"></option>
                      <option value="BIRTH"></option>
                      <option value="IMMIGRANT"></option>
                      <option value="MAIDEN"></option>
                      <option value="MARRIED"></option>
                      <option value="PROFESSIONAL"></option>

        </datalist>
      </div>
    </div>


  </div>
</div>

