{# templates/editor/buttonline-left.html.twig #}



<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'New Individual' | trans }}"
  data-action="editor#newIndividual"
  data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
  {{ constant('App\\Controller\\EditorController::ICON_PERSON') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Search for individual' | trans }}">
  {{ constant('App\\Controller\\EditorController::ICON_SEARCH_R') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Previous' | trans}}"
  {{ stimulus_action('editor', 'addIndividual') }}
  data-editor-myUrl-param="{{ url('editorNewIndividual', {url: 'Project01'} ) }}">
  {{ constant('App\\Controller\\EditorController::ICON_LEFT') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Next' | trans}}">
  {{ constant('App\\Controller\\EditorController::ICON_RIGHT') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Delete individual' | trans }}">
  {{ constant('App\\Controller\\EditorController::ICON_REMOVE') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="Search for individual"
  onclick="mymyNewIndividual('{{ url('editorNewIndividual', {url: 'Project01'} ) }}')">
  <i class="bi bi-file-lock"></i>
</button>
