{# templates/editor/buttonline-right.html.twig #}


<!-- div class="bgg-warning bg-opacity-25 bgg-gradient mhhhh-100 sshadow-lg p-3 mmb-5 rounded d-flex justify-content-around" -->
    <button type="button"
            class="btn btn-outline-dark btn-light"
            data-bs-toggle="tooltip"
            title="Add new family"
            data-action="editor#newFamily"
            data-editor-myurl-param="{{ url('api_family_new', {url: 'Project01'} ) }} ">
            {{ constant('App\\Controller\\EditorController::ICON_FAMILY') }}
    <button type="button"
            class="btn btn-outline-dark btn-light" data-bs-toggle="tooltip" title="Search for family">
            {{ constant('App\\Controller\\EditorController::ICON_SEARCH_L') }}
            </button>
    <button type="button" class="btn btn-outline-dark btn-light">
            {{ constant('App\\Controller\\EditorController::ICON_LEFT') }}
            </button>
    <button type="button" class="btn btn-outline-dark btn-light">
            {{ constant('App\\Controller\\EditorController::ICON_RIGHT') }}
            </button>
    <button type="button" class="btn btn-outline-dark btn-light">
            {{ constant('App\\Controller\\EditorController::ICON_REMOVE') }}
            </button>
    <button type="button" class="btn btn-outline-dark btn-light"><i class="bi bi-file-lock text-danger"></i></button>
<!-- /div -->

