{# templates/editor/buttonline-left.html.twig #}

{#
#}

{% set history= project.url ~ 'indiHistory' %}
{% set hlist= app.session.get('IndiHistory') %}

<button type="button"
  class="btn btn-outline-dark  btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'New Individual' | trans }}"
  data-action="editor#newIndividual"
  data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
  {{ constant('App\\Controller\\EditorController::ICON_PERSON') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Search for individual' | trans }}">
  {{ constant('App\\Controller\\EditorController::ICON_SEARCH_R') }}
</button>


<div class="dropup dropup-center">

  <button type="button"
    class="btn btn-outline-dark btn-light dropdown-toggle"
    data-bs-toggle="dropdown"
    data-bs-auto-close="true"
    title="{{ 'Previous' | trans}}">
    {{ constant('App\\Controller\\EditorController::ICON_LEFT') }}
  </button>
  <ul class="dropdown-menu">
    <li class=""><h6 class="dropdown-header">Dropdown header</h6></li>

    {% if hlist %}
    {% set indis= project.getIndividuals() %}
    {% for id in hlist %}
    {% set ii= indis.get(id) %}
    {% if ii %}
    <li class="">
      <a class="dropdown-item"
        title=""
        data-action="click->editor#selectIndividual"
        data-editor-id-param={{ ii.getId() }}
        href="#"><pre class="d-inline"> [{{ ii.getXref() }}]</pre> {#{ ii.getName() }#}   {{ ii ? ii.personalNameStructures.first.personalName : '' }} (1893 1974)</a>
    </li>
    {% endif %}
    {% endfor %}
    {% endif %}
  </ul>
</div>

<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Next' | trans}}">
  {{ constant('App\\Controller\\EditorController::ICON_RIGHT') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Delete individual' | trans }}">
  {{ constant('App\\Controller\\EditorController::ICON_REMOVE') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="Search for individual">


  <i class="bi bi-file-lock"></i>
</button>
