{# templates/editor/buttonline-left.html.twig #}



<button type="button"
  class="btn btn-outline-dark  btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'New Individual' | trans }}"
  data-action="editor#newIndividual"
  data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
  {{ constant('App\\Controller\\EditorController::ICON_PERSON') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Search for individual' | trans }}">
  {{ constant('App\\Controller\\EditorController::ICON_SEARCH_R') }}
</button>
<div class="dropup dropup-center">

  <button type="button"
    class="btn btn-outline-dark btn-light dropdown-toggle"
    data-bs-toggle="dropdown"
    data-bs-auto-close="true"
    title="{{ 'Previous' | trans}}">
    {{ constant('App\\Controller\\EditorController::ICON_LEFT') }}
  </button>
  <ul class="dropdown-menu">
    <li class=""><h6 class="dropdown-header">Dropdown header</h6></li>
    <li class=""><a class="dropdown-item" href="#"><pre class="d-inline"> [I1] </pre>Ludvig Rasmussen (1893 1974)</a></li>
    <li class=""><a class="dropdown-item" href="#"><pre class="d-inline">[I11] </pre>Holger Danske (1893 1974)</a></li>
    <li class=""><a class="dropdown-item" href="#"><pre class="d-inline">[I25] </pre>Louise Heiberg (1815-1870)</a></li>
  </ul>
</div>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Next' | trans}}">
  {{ constant('App\\Controller\\EditorController::ICON_RIGHT') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="{{ 'Delete individual' | trans }}">
  {{ constant('App\\Controller\\EditorController::ICON_REMOVE') }}
</button>
<button type="button"
  class="btn btn-outline-dark btn-light"
  data-bs-toggle="tooltip"
  title="Search for individual">


  <i class="bi bi-file-lock"></i>
</button>
