{% extends 'base.html.twig' %}

{#
    Definerer standard layout for vores gedcom editor
    - Venstre kolonne som defaulter til en INDI structur
    - Højre kolonne defaulter til en FAM structur
#}


{% block title %}Editor: Project01{% endblock %}

{% block body %}

<div class="container">



<div class="row">

    {% block toprow %}
    {% endblock toprow %}

</div>


{# Row 1 #}

<div class="row" {{ stimulus_controller('editor', {'project': 'Project01', 'indi': 'abc', 'fam': 'def'}) }}  >


  <div id= "villy" class="col-lg-6" {{ stimulus_target('editor', 'indiView') }} >
    {% block lcol %}
    	{{ include('editor/individual.html.twig') }}
    {% endblock lcol %}

  	{{ include('editor/buttonline-left.html.twig') }}
  </div>

  <div class="col-lg-6" {{ stimulus_target('editor', 'famView') }}  >
    {% block rcol %}
  		{{ include('editor/family.html.twig') }}
    {% endblock rcol %}

  	{{ include('editor/buttonline-right.html.twig') }}
  </div>

</div"> <!-- End row 1 -->


<div class="modal" id="exampleModal" tabindex="-1 aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

  <iframe name="iframetest"></iframe>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>


</div>

</div>

{% endblock body %}


{% block jjjavascripts %}
  {{ parent() }}


  <script>

    async function __showIndividual()
    {
      // (A) FETCH "DUMMY.HTML"
      fetch("2-dummy.html")

      // (B) RETURN THE RESULT AS TEXT
      .then((result) => {
         if (result.status != 200) { throw new Error("Bad Server Response"); }
          return result.text();
      })

      // (C) PUT LOADED CONTENT INTO <DIV>
      .then((content) => {
        document.getElementById("villy").innerHTML = content;
      })

      // (D) HANDLE ERRORS - OPTIONAL
      .catch((error) => { console.log(error); });

    }

  </script>

  <script>

    async function addFamily()
    {
      const myUrl= '{{ url('editorNewFamily', {url: 'Project01'} ) }}';
      const myInit= {
        mode: 'cors',
        credentials: 'include',
      };


      document.getElementById('idXXX1').value= myUrl;
      await fetch(myUrl, myInit);

    }

  </script>

{% endblock jjjavascripts%}
