{% extends 'base.html.twig' %}

{#
    Definerer standard layout for vores gedcom editor
    - Venstre kolonne som defaulter til en INDI structur
    - Højre kolonne defaulter til en FAM structur
#}


{% block title %}Editor: Project01{% endblock %}

{% block body %}

  {#
      Bootstrap 'container' der indeholder hele Gedcom Editoren

      Definerer samtidig Stimulis controlleren 'editor' med samt variablerne
  #}


<div class="container"
     {{ stimulus_controller('editor', {'project': 'Project01', 'indi': '', 'fam': '', husband:'', wife: ''}) }}
     data-editor-renderindi-value="{{ url('editorUpdateIndiCard', {url: 'Project01'} ) }}"
     data-editor-renderfam-value="{{ url('editorUpdateFamCard', {url: 'Project01'} ) }}"

  >



  <div class="row">

    {% block toprow %}
    {% endblock toprow %}

  </div>


  {# Row 1 #}

  <div class="row row-cols-1 row-cols-xxl-2">
    <div id= "villy" class="col"  {{ stimulus_target('editor', 'indiView') }}>
      {{ include('editor/individual.html.twig') }}
    </div>
    <div class="col" {{ stimulus_target('editor', 'famView') }}>
      {{ include('editor/family.html.twig') }}
    </div>
  </div> {#  End row 1  #}


  <div class="modal" id="exampleModal" tabindex="-1 aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <iframe name="iframetest"></iframe>
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>


  </div>

</div>


{#
    Toast

    - endnu ikke impleteret
#}


<div class="toast-container position-fixed top-50 start-50 translate-middle p-3">

  <div class="toast text-bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message -  Hello, world! This is a toast message.
    </div>
  </div>
</div>

{% endblock body %}


{% block jjjavascripts %}
  {{ parent() }}


  <script>

    async function addFamily()
    {
      const myUrl= '{{ url('editorNewFamily', {url: 'Project01'} ) }}';
      const myInit= {
        mode: 'cors',
        credentials: 'include',
      };


      document.getElementById('idXXX1').value= myUrl;
      await fetch(myUrl, myInit);

    }

  </script>

{% endblock jjjavascripts%}
