{% extends 'base.html.twig' %}

{#
    Definerer standard layout for vores gedcom editor
    - Venstre kolonne som defaulter til en INDI structur
    - Højre kolonne defaulter til en FAM structur

    Forventer to template variable
    - indi
    - fam
#}

{% set nam= null %}

{% block title %}Editor: Project01{% endblock %}

{% block body %}

  {#
      Bootstrap 'container' der indeholder hele Gedcom Editoren

      Definerer samtidig Stimulis controlleren 'editor' med samt variablerne
  #}


<div class="container-xxl"
  data-controller="editor"
  {{ stimulus_controller('editor', {'project': 'Project01', 'indi2': '{{ indiarg }}', 'fam1': '', husband:'', wife: ''}) }}
  data-editor-indi-value="{{ indi ? indi.id : ''}}";
  data-editor-fam-value="{{ fam ? fam.id : '' }}";
  data-editor-renderindi-value="{{ url('editorUpdateIndiCard', {url: 'Project01'} ) }}"
  data-editor-renderfam-value="{{ url('editorUpdateFamCard', {url: 'Project01'} ) }}"
  data-editor-webapi-value="{{ url('webapi') }}"


  >



  <div class="row">

    {% block toprow %}
    {% endblock toprow %}

  </div>


  {# Row 1 #}

  <div class="row row-cols-1 row-cols-xxl-2" style="background-color: #FFFFE5">
    <div class="col" data-editor-target="indiView">
      {{ include('editor/individual.html.twig') }}
    </div>
    <div class="col" data-editor-target="famView">
      {{ include('editor/family.html.twig') }}
    </div>
  </div>
  {#  End row 1  #}


  {# Forskellige modaler under udvikling #}

  {{ include('editor/individual-names.html.twig') }}
  {{ include('editor/individual-events.html.twig') }}
  {{ include('editor/individual-event.html.twig') }}

  {{ include('editor/notes.html.twig') }}
  {{ include('editor/noteeditor.html.twig') }}
  {{ include('editor/sourceRecordEditor.html.twig') }}


  {{ include('editor/librarySourceRecords.html.twig') }}
  {{ include('editor/libraryRepositoryRecords.html.twig') }}
  {{ include('editor/libraryNoteRecords.html.twig') }}
  {{ include('editor/libraryMediaRecords.html.twig') }}
  {{ include('editor/libraryPlaceRecords.html.twig') }}
  {{ include('editor/libraryIndividualRecords.html.twig') }}
  {{ include('editor/libraryFamilyRecords.html.twig') }}


</div>


<footer class="footer fixed-bottom mt-auto py-3 bg-light">
  <div class="container-fluid">


    <span class="text-muted">
      {{ project.getIndividuals.count }} individuals in  {{ project.getFamilies.count }} families
    </span>
  </div>
</footer>



{#
Toast

- endnu ikke impleteret
#}


<div class="toast-container position-fixed top-50 start-50 translate-middle p-3">

  <div class="toast text-bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!-- img src="..." class="rounded me-2" alt="..." -->
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message -  Hello, world! This is a toast message.
    </div>
  </div>
</div>

{% endblock body %}


