{# templates/editor/family.html.twig #}

{#
    Family Frame

    The Family Frame shows the name of the currently selected family,
    the members of the family, and a number of data entry and control buttons.

    Template Variables:
    - fam

#}



<div class="card border-dark alert alert-success h-100 shadow-lg p-3 mb-5 rounded">

  {# Header #}

  <div class="row card-header border-dark">
    {% if fam %}
    <div class="col-8 text-nowrap overflow-hidden">
      <span>[{{ fam.xref }}]</span>
      <span class='I201'
            <span {{ stimulus_target('editor', 'personalName') }}
	          title="{{ fam.id }}"

        >Anders Hansen Nielsen</span>
      +
      <span class='I202'
            <span {{ stimulus_target('editor', 'personalName') }}
	          title="{{ fam.id }}"

        >Anne Margrethe Sørensdatter</span>
    </div>
    {% endif %}
    <div class="col text-end">

      <span class="" aria-label="Restriction">
        <input type="checkbox" class="mlr-lock btn-check" id="btn-check1" autocomplete="off">
        <label class="mlr btn btn-outline-dark btn-light btn-sm" for="btn-check1">
          {{ constant('App\\Controller\\EditorController::ICON_LOCKED') }}
        </label>
      </span>
      <span>
        <input type="checkbox" class="btn-check" id="btn-check2" autocomplete="off">
        <label class="btn btn-outline-dark btn-light btn-sm" for="btn-check2">
          {{ constant('App\\Controller\\EditorController::ICON_CONFIDENTIAL') }}
        </label>
      </span>
      <span>
        <input type="checkbox" class="btn-check" id="btn-check3" autocomplete="off">
        <label class="btn btn-outline-dark btn-light btn-sm" for="btn-check3">
          {{ constant('App\\Controller\\EditorController::ICON_PRIVATE') }}
        </label>
      </span>


    </div>

  </div>


  {{ include('editor/family-section01.html.twig') }}

  {{ include('editor/family-section02.html.twig') }}

  {{ include('editor/family-section03.html.twig') }}

  <div class="card-footer border-dark d-flex justify-content-between">
    {{ include('editor/buttonline-right.html.twig') }}

  </div>



</div>


