{# templates/editor/family-section03.html.twig #}

{#

#}

{%
	set iEvent= [
			[ 'Birth',  '25 August 1893',  'Svinninge',],
			[ 'Christening',  '24 September 1893',  'N√∏rre Asmindrup',],
			[ 'Residense',  '1896',  'Nyk√∏bing Sj√¶lland',],
			[ 'Census',  '1901',  'Algade 21',],
			[ 'Census',  '1906',  'Algade 21',],
			[ 'Census',  '1911',  'Algade 31',],
			[ 'Occupation',  '',  ''],
			[ 'Death',  '8 September 1974',  'Nyk√∏bing Sj√¶lland',],
			[ 'Burrial',  '13 September 1974',  'Assistens Kirkegaard',],
	]
%}


{#
  Har problemer med sticky top - check s¯sterversionen i individual-section02.html.twig
#}

<div class="card-body overflow-auto mb-2" style="max-height: 250px">
  <!--div class="row overflow-auto" style="max-height: 250px">
    <div class="col ooverflow-auto" style="max-hheight: 250px"-->
      <!--div class="table-responsive" -->


        <table class="table table-bordered table-sm shadow table-light">

          <thead  style="position: sticky; top: 0">
            <tr>
              <th scope="col">{{'Event' | trans}}</th>
              <th scope="col">{{'Date' | trans}}</th>
              <th scope="col">{{'Place' | trans}}</th>
            </tr>
          </thead>

          <tbody>
            {% for e in iEvent %}


            <tr class="" role="button">
              <td >{{ e[0] }}</td>
              <td >{{ e[1] }}</td>
              <td >{{ e[2] }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      <!-- /div-->
    <!--/div>
  </div-->
</div>

