{# templates/editor/family-section01.html.twig #}

{#

#}

<div class="card-body">

	{# Husband #}

		{{ include('editor/family-husband.html.twig') }}

	<!-- Wife -->


		{{ include('editor/family-wife.html.twig') }}


	<!-- Gennerelle oplysninger om forholdet -->

	<div class="row">
		<div class="col-1"></div>
		<div class="col-2">
			<div class="form-floating">
				<input type="number" class="form-control form-control-sm" id="idNumber" placeholder="Tekst" value="8">
				<label for="idNumber"> {{ 'Children' | trans }} </label>

			</div>
		</div>

		<div class="col-6">
			<div class="form-floating">
				<select class="form-select form-select-sm" id="floatingSelect" aria-label="Floating label select example">
					<!-- option selected>Open this select menu</option -->
					<option value="1" active> {{ 'Unknown' | trans }} </option>
					<option value="2"> {{ 'Marriage' | trans }}</option>
					<option value="3"> {{ 'Not Married' | trans }}</option>
					<option value="4"> {{ 'Civil' | trans }} </option>
					<option value="5"> {{ 'Religios' | trans }} </option>
					<option value="6"> {{ 'Common law' | trans }} </option>
					<option value="7"> {{ 'Partnership' | trans }} </option>
					<option value="8"> {{ 'Registered partnership' | trans }}</option>
					<option value="9"> {{ 'Living together' | trans }}</option>
					<option value="10"> {{ 'Living apart together' | trans }} </option>
				</select>
				<label for="floatingSelect"> {{ 'Relationship' | trans }} </label>
			</div>
		</div>

	</div>

</div>


