{#

  templates/editor/family-husband.html.twig

  Expects the template variable: husb

#}


<div class="row"
     data-action="editor#selectHusband">

  <!-- Billede -->
  <div class="col-1 d-flex align-items-center p-1">
    <!--button type= "button"
      class="btn btn-sm btn-outline-dark btn-light" -->
      <img src="\ludvig.jpg" class="img-fluid" alt="...">
    <!--/button-->
  </div>

  <!-- Navn -->

  <div class="col">
    <div class="form-floating">
      <input type="text"
        class="form-control form-control-sm shadow-lg"
        id="idHusband"
        placeholder="Tekst"
        value="Anders Hansen Nielsen"
        readonly>
      <label for="idHusband">{{ 'Husband' | trans }}</label>

    </div>
  </div>

  {# Reserveret til knap-apparat #}

  <div class="col-3 text-end">

    <button type="button"
      class="btn btn-sm btn-outline-dark"
      data-action="editor#newHusband"
      data-bs-toggle="tooltip"
      title="{{'New Individual as Husband' | trans}}">
      {{ constant('App\\Controller\\EditorController::ICON_MALE') }}
    </button>

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-action="editor#linkHusband"
      data-bs-toggle="tooltip"
      title="{{'Link current Individual as Husband' | trans}}">
      {{ constant('App\\Controller\\EditorController::ICON_LINK') }}
    </button>

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-action="editor#unlinkHusband"
      data-bs-toggle="tooltip"
      title="{{'Remove as Husband' | trans}}">
      {{ constant('App\\Controller\\EditorController::ICON_REMOVE') }}
    </button>

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-bs-toggle="tooltip"
      title="{{'Search for Husband' | trans}}">
      {{ constant('App\\Controller\\EditorController::ICON_SEARCH_L') }}
    </button>

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-bs-toggle="tooltip"
      title="{{'Notes for Husband' | trans}}">
      {{ constant('App\\Controller\\EditorController::ICON_NOTES') }}
    </button>


  </div>
</div>
