{# templates/editor/family-section03.html.twig #}

{#

#}

{%
	set iEvent= [
			[ 'Birth',  '25 August 1893',  'Svinninge',],
			[ 'Christening',  '24 September 1893',  'Nørre Asmindrup',],
			[ 'Residense',  '1896',  'Nykøbing Sjælland',],
			[ 'Census',  '1901',  'Algade 21',],
			[ 'Census',  '1906',  'Algade 21',],
			[ 'Census',  '1911',  'Algade 31',],
			[ 'Occupation',  '',  ''],
			[ 'Death',  '8 September 1974',  'Nykøbing Sjælland',],
			[ 'Burrial',  '13 September 1974',  'Assistens Kirkegaard',],
	]
%}

{%

  set iHead= [ 'Event', 'Date', 'Place' ]
%}




<div class="card-body mb-2">

  {{ include('snippet/table.html.twig', {header: iHead, content: iEvent}) }}

  {#
      <div class="table-responsive  shadow" style="max-height: 250px; overflow-x: auto">

        <table class="table table-bordered table-hover table-sm table-light">

          <thead class="small"  style="position: sticky; top: 0">
            <tr>
              <th scope="col">{{'Event' | trans}}</th>
              <th scope="col">{{'Date' | trans}}</th>
              <th scope="col">{{'Place' | trans}}</th>
            </tr>
          </thead>

          <tbody class="small">
            {% for e in iEvent %}


            <tr class="" role="button" tabindex="0">
              <td >{{ e[0] }}</td>
              <td >{{ e[1] }}</td>
              <td >{{ e[2] }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    #}   
</div>

