
{# templates/editor/family.html.twig #}

{#

#}

{% set childlist= ["Maren Jensdatter Harboe Bols (1778-1843)",
									"Christen Jensen Harboe (1780-1827)",
									"Anne Jensdatter (1784)",
									"Kirsten Jensdatter Harboe (1786)",
									"Laurits Jensen Harboe (1791)",
									"Bodil Jensdatter Harboe (1796)",
									"Christen Jensen Harboe (1780-1827)",
									] %}


<div class="card-body">

  <div class="row">
    <div class="col-9">
      <div calss="mb-2">

        <label class="form-label small" for="XXXXXXX">{{ 'Children' | trans }}:</label>
        <select class="form-select form-select-sm shadow" id="XXXXXXX" size=10 aria-label="Default select example">

          {% for ch in childlist %}

          <option value="1" onfocus='showIndividual()'>{{ ch }}</option>

          {% endfor %}
        </select>
      </div>

    </div>

    {# Reserveret til knap-apparat #}

    <div class="col-3 d-flex align-items-center">
      <div class="text-end">


      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#newAsChild"
        data-bs-toggle="tooltip"
        title="{{'New Individual as Child' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_CHILD') }}
      </button>

      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#linkAsChild"
        data-bs-toggle="tooltip"
        title="{{'Link current Individual as Child' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_LINK') }}
      </button>

      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#unlinkChild"
        data-bs-toggle="tooltip"
        title="{{'Remove as Child' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_REMOVE') }}
      </button>

      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#searchForChild"
        data-bs-toggle="tooltip"
        title="{{'Search for Child' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_SEARCH_L') }}
      </button>

      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#notesForChild"
        data-bs-toggle="tooltip"
        title="{{'Notes for Child' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_NOTES') }}
      </button>
      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#pedigreeOfChild"
        data-bs-toggle="tooltip"
        title="{{'Change Pedigree of Child' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_PEDIGREE') }}
      </button>

      <br>

      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#moveChildUp"
        data-bs-toggle="tooltip"
        title="{{'Move Child up' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_UP') }}

      </button>


      <button type="button"
        class="btn btn-sm btn-outline-dark btn-light"
        data-action="editor#moveChildDown"
        data-bs-toggle="tooltip"
        title="{{'Move Child down' | trans}}">
        {{ constant('App\\Controller\\EditorController::ICON_DOWN') }}
      </button> </div>

    </div>


  </div>
</div>


<div class="card-body d-flex justify-content-between">

  <button type="button"
    class="btn btn-ssm btn-outline-dark shadow btn-light"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Events and Attributes">
    {{ constant('App\\Controller\\EditorController::ICON_EVENTS') }}
  </button>

  <button role="button"
    class="btn btn-ssm  btn-outline-dark shadow btn-light"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Notes">
    {{ constant('App\\Controller\\EditorController::ICON_NOTES') }}

  </button>

  <button type="button"
    class="btn btn-ssm btn-outline-dark shadow btn-light"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Source Citations">
    {{ constant('App\\Controller\\EditorController::ICON_SOURCES') }}
  </button>

  <button type="button"
    class="btn btn-ssm btn-outline-dark shadow btn-light"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Media">
    {{ constant('App\\Controller\\EditorController::ICON_MEDIA') }}

  </button>

  <button type="button"
    class="btn btn-ssm btn-outline-dark shadow btn-light"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Last Change / Restrictions">
    {{ constant('App\\Controller\\EditorController::ICON_MEDIA') }}
  </button>

  <button type="button"
    class="btn btn-ssm btn-outline-dark shadow btn-light"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="Researchers">
    {{ constant('App\\Controller\\EditorController::ICON_RESEARCHERS') }}
  </button>
</div>

