{# templates/editor/family.html.twig #}

{#
    Family Frame

    The Family Frame shows the name of the currently selected family,
    the members of the family, and a number of data entry and control buttons.

    Template Variables:
    - fam

#}

{# % set form= famform % #}

<div class="card border-dark text-dark bg-success-subtle bs-tertiary-bg bgg-gradient h-100 shadow-lg p-3 mb-5 rounded"
  styless="background-color: #F0FFEF"
  >
  {# <fieldset {{ fam ? '' : 'Disabled'}}> #}
  {{ form_start(famform) }}



    {# Header #}

    <div class="row card-header border-dark">
      {% if fam %}
      <div class="col-8 text-nowrap overflow-hidden">
        <span>[{{ fam.xref }}]</span>
        <span class='I201'
          <span {{ stimulus_target('editor', 'personalName') }}
            title="01GEN5HWT6ANXP0X5K22WSPTW9"

          >Anders Anders Hansen Nielsen</span>
          +
          <span class='I202'
            <span {{ stimulus_target('editor', 'personalName') }}
              title="{{ fam.id }}"

            >Anne Margrethe Sørensdatter</span>
          </div>
          {% endif %}


          {# Restrictions #}

          {{ include('editor/restrictions.html.twig', {form: famform} ) }}

          <!--fieldset class="form-group col text-end"
            data-action="change->editor#famRestrictions"
            >



            <input type="checkbox"
            id="mlr01"
            class="btn-check"
            name= "locked"
            autocomplete="off">
            <label class="btn btn-outline-dark btn-light btn-sm"
              for="mlr01"
              data-bs-toggle="tooltip"
              title="{{ 'Write protection' | trans }}">
              {{ icon_unlocked | raw }}
            </label>


            <input type="checkbox"
            id="mlr02"
            class="btn-check"
            name= "Confidential"
            checked
            autocomplete="off">
            <label class="btn btn-outline-dark btn-light btn-sm"
              for="mlr02"
              data-bs-toggle="tooltip"
              title= "{{ 'Confidential' | trans }}">
              {{  icon_confidential | raw  }}
            </label>



            <input type="checkbox"
            id="mlr03"
            class="btn-check"
            name= "Privacy"
            autocomplete="off">
            <label class="btn btn-outline-dark btn-light btn-sm"
              for="mlr03"
              data-bs-toggle="tooltip"
              title="{{ 'Privacy' | trans }}">
              {{ icon_private | raw }}
            </label>

          </fieldset-->

        </div>


        {{ include('editor/family-section01.html.twig') }}

        {{ include('editor/family-section02.html.twig') }}

        {{ include('editor/family-section03.html.twig') }}

      {{ form_end(famform) }}
      {# </fieldset> #}

      {# Afsluttende knap apparat#}

      <div class="card-footer border-dark d-flex justify-content-between">
        {{ include('editor/buttonline-right.html.twig') }}

      </div>



    </div>


