{#

  templates/editor/family-wife.html.twig

#}


<div class="row"
     data-action="editor#selectWife">


  {# Wifes Picture #}

  <div class="col-1 d-flex align-items-center">
    <!--button type="button"
      class="btn btn-sm btn-outline-dark btn-light "-->


      <img src="\karen.jpg" class="img-fluid" alt="Karen">
    <!--/button-->
  </div>


  {# Wifes name #}

  <div class="col">
    <div class="form-floating">
      <input type="text"
          class="form-control form-control-sm"
          id="idWife"
          placeholder="Tekst"
          value="Anne Margrethe Sørensdatter" readonly>
      <label for="idWife">{{ 'Wife' | trans }}</label>

    </div>
  </div>


  {# Tilhørende knap-apparat #}

  <div class="col-3 text-end">

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-action="editor#newWife"
      data-bs-toggle="tooltip"
      title="{{ 'New Individual as Wife' | trans }}">
      {{ constant('App\\Controller\\EditorController::ICON_FEMALE') }}
    </button>

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-action="editor#linkWife"
      data-bs-toggle="tooltip"
      title="{{ 'Link current Individual as Wife' | trans  }}">
      {{ constant('App\\Controller\\EditorController::ICON_LINK') }}
    </button>

    <button type="button"
      data-action="editor#unlinkWife"
      class="btn btn-sm btn-outline-dark btn-light"
      data-bs-toggle="tooltip"
      title="{{'Remove as Wife' | trans }}">
      {{ constant('App\\Controller\\EditorController::ICON_REMOVE') }}
    </button>

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-bs-toggle="tooltip"
      title="{{ 'Search for Wife' | trans }}">
      {{ constant('App\\Controller\\EditorController::ICON_SEARCH_L') }}
    </button>

    <button type="button"
      class="btn btn-sm btn-outline-dark btn-light"
      data-bs-toggle="tooltip"
      title="{{'Notes for Wife' | trans}}">
      {{ constant('App\\Controller\\EditorController::ICON_NOTES') }}
    </button>

  </div>
</div>
