
{% extends 'base.html.twig' %}


{% block title %}
  {{ formTitle|trans }}
{% endblock title%}



{% block body  %}

{% if myform is defined %}
  {{ form_start(myform, {'data-action': 'submit->gedcom#submit'}) }}

  {#
  <form id="myform" name="myform" data-action="submit->gedcom#submit" method="post">
  #}

{% endif %}

<div class="d-flex justify-content-center">
  <div class="card w-50"
    data-controller="gedcom"
    >

    <h2 class="card-header text-center">
      {% block cardheader %}

      {{ formTitle|trans }}


      {% endblock cardheader %}
    </h2>
    <div class="card-body">
      {% if warning is defined %}
      <div class="alert alert-warning"> {{ warning|trans }}</div>
      {% endif %}

      <div class="mb-3">
        <label for="inputGroupFile01">Upload</label>
        <input type="file"
        name="file"
        accept=".ged"
        form="myform"
        class="form-control"
        data-action="change->gedcom#import"
        id="inputGroupFile01"
        required>
      </div>

      {% block cardbody %}
      {{ form_widget(myform) }}

      <div data-gedcom-target= "polyview holger">

      </div>

      {# % if error %}
      <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif % #}

      <div data-action="submit->gedcom#submit">
        <label for="floatingTextarea2">Preview</label>

        <textarea class="form-control"
          id= "floatingTextarea2"
          data-gedcom-target= "polyview holger"
          data-action="submit->gedcom#submit"
          aria-label="Preview"
          rows=10
          name="preview"
          wrap="off"
          readonly>
        </textarea>
      </div>
      {% endblock cardbody %}
    </div>



    <div class="card-footer d-grid d-md-flex gap-2 justify-content-md-end">
      {% block cardfooter %}
      <div class="invisible" data-gedcom-target="spinner">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </div>
      <button class="btn btn--sm btn-outline-success" fform="myform" type="submit" data-aaction="click->gedcom#submit"><i class="bi bi-check-lg"></i></button>
      <button class="btn btn--sm btn-outline-danger"  type="button"><i class="bi bi-x-lg"></i></button>
      <button class="btn btn--sm btn-outline-primary"  type="button"><i class="bi bi-question-lg"></i></button>
      {% endblock cardfooter %}
    </div>

  </div>
</div>

{% if myform is defined %}
  {{ form_end(myform) }}
{% endif %}

{% endblock body %}

