{# templates/editor/individual.html.twig #}

{#
    Individual Frame

    The Individual Frame shows the name of the currently selected individual,
    the parental and spousal families associated with the individual,
    and a number of data entry and control buttons

    forventer template Variablen:
    - indi
#}

<div class="card bg-info-subtle border-dark text-dark bg-gradient h-100 shadow-lg p-3 mb-5 rounded" sstyle="background-color: #DBFFFE" {{ stimulus_target('editor', 'indicard') }}>
  {# <fieldset {{ indi ? '' : 'Disabled' }}> #}
  {{ form_start(indiform) }}
  <div class="row card-header border-dark">
    {% if indi %}
      <div class="col-8 text-nowrap overflow-hidden">
        {# <pre class="d-inline">[{{ indiform.xref }}]</pre> #}
        {{ form_widget(indiform.xref) }}
        <span {{ stimulus_target('editor', 'personalName') }} title="{{ indi.id }}">{{ indi ? indi.names.first.personalName : '' }}</span>
      </div>
    {% else %}
      Helloo world !
    {% endif %}

    {# RESN knap apparat #}

    {{ include('editor/restrictions.html.twig', { form: indiform }) }}
  </div>

  {{ include('editor/individual-section01.html.twig') }}

  {{ include('editor/individual-section02.html.twig') }}

  {{ include('editor/individual-section03.html.twig') }}

  {{ form_end(indiform) }}
  {# </fieldset> #}

  {#
      Afsluttende knap apparat
    #}

  <div class="card-footer border-dark d-flex justify-content-between">{{ include('editor/buttonline-left.html.twig') }}</div>
</div>
