{# templates/editor/individual.html.twig #}

{#

#}



<div class="card border-dark bg-primary bg-gradient bg-opacity-25 shadow-sm p-3 mb-5  rounded " id="birger" >

	<div class="card-header border-dark">
		[I2031] <span>Anders Hansen Nielsen</span>
	</div>


		{{ include('editor/individual-section01.html.twig') }}

		{{ include('editor/individual-section02.html.twig') }}

		{{ include('editor/individual-section03.html.twig') }}


	<div class="card-footer border-dark d-flex justify-content-between">
		{# <div class="btn-group" role="group" aria-label="Basic example"> #}
      <!-- a role="button" class="btn btn.primary" href="{#{ path('editorNewIndividual') }#}"><i class="bi bi-person-plus"></i></a -->
			<button type="button" class="btn btn-sm btn-primary"
                            data-bs-toggle="tooltip"
                            title="{% trans %} New Individual {% endtrans %}"
                            onclick="document.getElementById('idYYY0').value= 'Test'; newIndividual();">
                            <i class="bi bi-person-plus"></i>
                            </button>
			<button type="button" class="btn btn-sm btn-primary" onclick="myNewIndividual()"><i class="bi bi-person-plus"></i></button>
			<button type="button" class="btn btn-sm btn-primary"><i class="bi bi-binoculars"></i></button>
			<button type="button" class="btn btn-sm btn-primary" onclick="myNewIndividual()"><i class="bi bi-arrow-left"></i></button>
			<button type="button" class="btn btn-sm btn-primary" onclick="myNewIndividual()"><i class="bi bi-arrow-right"></i></button>
			<button type="button" class="btn btn-sm btn-primary" onclick="document.getElementById('idYYY0').value= 'Test01'"><i class="bi bi-person-x"></i></button>
			<button type="button" class="btn btn-sm btn-primary" onclick="mymyNewIndividual('{{ url('editorNewIndividual', {url: 'Project01'} ) }}')"><i class="bi bi-file-lock"></i></button>
		{# </div> #}
	</div>
</div>


<script>

  function myNewIndividual()
  {
      document.getElementById('idYYY0').value= 'Test02';

  }


    function ___newIndividual()
    {
      document.getElementById('idXXX0').value= 'Test';

      // (A) FETCH "DUMMY.HTML"
      await fetch({{ url('editorNewIndividual', {url: 'Project01'} ) }})

      // (B) RETURN THE RESULT AS TEXT
      .then((result) => {
        if (result.status != 200) { throw new Error("Bad Server Response"); }
        return result.text();
      })

      // (C) PUT LOADED CONTENT INTO <DIV>
      .then((content) => {
        document.getElementById("villy").innerHTML = content;
      })

      // (D) HANDLE ERRORS - OPTIONAL
      .catch((error) => { console.log(error); });

      }



</script>
