

  <div class="modal fade" id="mlrModal" tabindex="-1 aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">

        {# Modal Header#}

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Individual Names 1</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        {# Modal Body#}

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">

              {# GEDCOM Navne Struktur #}

              <div id="NameStructure"
                class="col-9"
                data-action= "input->editor#updatePersonalNameStructure"
                data-editor-url-param="{{ url('api_individual_updatePersonalName', {url: 'Project01'} ) }}"
                data-editor-name-id-param= {{ nam ? nam.id : ''
                }}>

                {# Fornavne #}

                <div class="row ">
                  <div class="col-3">
                    <div class="mb-2 sshadow">
                      <label class= "small" for="idYYY0"> {{ 'Prefix' | trans }}: </label>
                      <input type="text"
                      class="form-control form-control-sm shadow"
                      id="idYYY0"
                      name= 'npfx'
                      value="{{ nam ? nam.npfx }}" >
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="mb-2">
                      <label class="small" for="idXXX1"> {{ 'First names' | trans }}:</label>

                      <input type="text"
                      class="form-control form-control-sm shadow"
                      id="idXXX1"
                      name= 'givn'
                      value="{{ nam ? nam.givn }}" >
                    </div>
                  </div>
                </div>

                {# Efternavn #}

                <div class="row">
                  <div class="col-3">
                    <div class="mb-2">
                      <label class="small" for="idXXX2"> {{ 'Prefix' | trans }}:</label>
                      <input type="text"
                      class="form-control form-control-sm shadow"
                      id="idXXX2"
                      name= 'spfx'
                      value="{{ nam ? nam.spfx }}" >
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-2">
                      <label class="small" for="idXXX3"> {{ 'Last names' | trans }}: </label>
                      <input type="text"
                      class="form-control form-control-sm shadow"
                      id="idXXX3"
                      name= 'surn'
                      value="{{ nam ? nam.surn }}" >
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="mb-2">
                      <label class="small" for="idXXX4"> {{ 'Suffix' | trans }}:</label>
                      <input type="text"
                      class="form-control form-control-sm shadow"
                      id="idXXX4"
                      name= 'nsfx'
                      value="{{ nam ? nam.nsfx }}" >
                    </div>
                  </div>
                </div>

                <!-- Diverse navnestof, etc -->

                <div class="row">
                  <!-- div class="col-3">
                  <div class="mb-2">
                  <label class="small" for="idXXX7"> {{ 'Sex' | trans }}: </label>

                  <select class="form-select form-select-sm shadow"
                  id="idXXXXXX7"
                  aria-label="Default select example"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="{{ 'Indicates the sex of the individual at birth' | trans }}"
                  {{ stimulus_action('editor', 'updateSex', 'input') }}  >
                  <option value="M" selected> {{ 'Male' | trans }} </option>
                  <option value="F"> {{ 'Female' | trans }} </option>
                  <option value="X"> {{ 'Intersex' | trans }} </option>
                  <option value="U"> {{ 'Unknown' | trans }} </option>
                  </select>
                  </div>

                  </div-->
                  <div class="col-9">
                    <div class="mb-2">
                      <label class="small" for="idXXX6"> {{ 'Nicknames' | trans }} </label>
                      <input type="text"
                      class="form-control form-control-sm shadow"
                      id="idXXX6"
                      name= 'nick'
                      value="{{ nam ? nam.nick }}" >
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="mb-2">
                      <label for="idXXX5"> {{ 'Type' | trans }} </label>
                      <input type="text" class="form-control form-control-sm shadow" id="idXXX5" list="idXXXXX5">
                      <datalist id="idXXXXX5">
                        <option value="AKA">Alias</option>
                        <option value="BIRTH"></option>
                        <option value="IMMIGRANT"></option>
                        <option value="MAIDEN"></option>
                        <option value="MARRIED"></option>
                        <option value="PROFESSIONAL"></option>

                      </datalist>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-3">
  <button role="button"
    class="btn btn-outline-dark btn-light btn-sm shadow"
    data-action="click->editor#notes"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="{{ 'Notes' | trans }}">
    {{ constant('App\\Controller\\EditorController::ICON_NOTES') }}
  </button>
  <button type="button"
    class="btn btn-outline-dark btn-light btn-sm shadow"
    data-action="click->editor#sourceCitations"
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="{{ 'Source Citations' | trans }}">
    {{ constant('App\\Controller\\EditorController::ICON_SOURCES') }}
  </button>

              </div>


            </div>
            <div class="row mb-2">
              <div class="col">


              <label class="small" for="XXX"> {{ 'Name' | trans }} :</label>
              <select class="form-select form-select-sm shadow" id="XXX" size=5 aria-label="Default select example">
                <!-- option selected>Open this select menu</option- -->

                {# % for p in parentlist % #}

                <option value="1"  onfocus='kilroy()'>Ludvig Rasmussen</option>

                {# % endfor % #}
              </select>

               </div>
            </div>

          </div>

        </div>


        {# Modal Footer #}

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>


  </div>


