{# templates/editor/individual.html.twig #}

{#
    Individual Frame

    The Individual Frame shows the name of the currently selected individual,
    the parental and spousal families associated with the individual,
    and a number of data entry and control buttons

    forventer template Variablen:
    - indi
#}



<div class="card border-dark text-dark bg-gradient h-100 shadow-lg p-3 mb-5  rounded"
  style="background-color: #DBFFFE"
  {{ stimulus_target('editor', 'indicard') }}>
  <fieldset {{ indi ? '' : 'Disabled' }}>

    <div class="row card-header border-dark">
      {% if indi %}
      <div class="col-8 text-nowrap overflow-hidden">
        <pre class="d-inline">[{{ indi.xref }}]  </pre>
        <span {{ stimulus_target('editor', 'personalName') }}
          title="{{ indi.id }}"
          >
          {{ indi ? indi.personalNameStructures.first.personalName : '' }}
        </span>
      </div>
      {% else %}
      Helloo world !
      {% endif %}

      {# RESN knap apparat #}

      <fieldset class="col text-end"

        data-action="change->editor#indiRestrictions"
        aria-label="Restriction">
        <span class=""
          data-bs-toggle="tooltip"
          title="{{ 'Write protection' | trans }}"
          aria-label="{{ 'Write protection' | trans }}"
          >
          <input type= "checkbox"
          class= "btn-check"
          name= "locked"
          id="btn-check11"
          autocomplete="off">
          <label class="mlr btn btn-outline-dark btn-light btn-sm" for="btn-check11">&#x1F513;</label>
        </span>
        <span class=""
          data-bs-toggle="tooltip"
          title= "{{ 'Confidential' | trans }}">
          <input type="checkbox"
          class="btn-check"
          name= "confidential"
          id="btn-check12"
          autocomplete="off">
          <label class="btn btn-outline-dark btn-light btn-sm" for="btn-check12">🤐</label>
        </span>
        <span class=""
          data-bs-toggle="tooltip"
          title="{{ 'Privacy' | trans }}">
          <input type="checkbox"
          class="btn-check"
          name= "privacy"
          id="btn-check13"
          autocomplete="off">
          <label class="btn btn-outline-dark btn-light btn-sm" for="btn-check13">⛔</label>
        </fieldset>
      </div>


      {{ include('editor/individual-section01.html.twig') }}

      {{ include('editor/individual-section02.html.twig') }}

      {{ include('editor/individual-section03.html.twig') }}

    </fieldset>

    {#
      Afsluttende knap apparat
    #}

    <div class="card-footer border-dark d-flex justify-content-between">
      {{ include('editor/buttonline-left.html.twig') }}

    </div>



  </div>

