{#  editor/librarySourceRecords #}

{#

    Filoversigten opbygges i tabelform

    Filoversigten skal vise
    - Anvendt: Antal henvisninger til filen
    - Titel:
    - Medium: Foto, gravsten, bog, etc (Gedcom v7 enumset-MEDI)
    - File:
#}

{%
	set iContent= [
			[ '2',  '25 August 1893',  'Svinninge', '', ],
			[ '12',  '24 September 1893',  'Nørre Asmindrup', '',],
			[ '4',  '1896',  'Nykøbing Sjælland', '',],
			[ '8',  '1901',  'Algade 21', '',],
			[ '9',  '1906',  'Algade 21', '',],
			[ '16',  '1911',  'Algade 31', '',],
			[ '1',  '',  '', '',],
			[ '3',  '8 September 1974',  'Nykøbing Sjælland', '',],
			[ '4',  '13 September 1974',  'Assistens Kirkegaard', '',],
	]

%}
{%

  set iHead= [ 'Used', 'Title', 'File', 'Medium' ]
%}




<div class="modal fade" id="modalMediaLibrary" tabindex="-1 aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      {# Modal Header#}

      <div class="modal-header">
        <h5 class="modal-title">{{ 'Media Library' | trans }}</h5>

        {# Restrictions # }

        {{ include('editor/restrictions.html.twig', {form: 'modal'}) } #}



        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      {# Modal Body#}



      <form class="modal-body" name="modal">
        <div class="container-fluid">
          <div class="row">
            <div class="col-9">
            <div class="col-12">
              <div class="mb-2 sshadow">
                <label class= "small" for="idYYY0"> {{ 'Search term' | trans }}: </label>
                <input type="text"
                class="form-control form-control-sm shadow"
                id="idYYY0"
                name= 'npfx'
                value="{{ nam ? nam.npfx }}" >
              </div>
            </div>

            <div class="col-12 form-text shadow mb-2">
              <div class="input-group input-group-sm mb-3">
                Results: (<strong>5048</strong>)
              </div>
            </div>

            <div class="col-12 mb-2">
                {{ include('snippet/table.html.twig', {header: iHead, content: iContent}) }}
            </div>

            {# Pagination #}

            <div class="col-12 mb-2">
              {{ include('snippet/pagination.html.twig') }}
            </div>

            {# Knap apparat #}

            <div class="col-12 d-flex justify-content-around mb-2">
              <span>
              <button type="button"
                class="btn btn-outline-dark btn-sm btn-light"
                data-bs-toggle="tooltip"
                title="{{ 'New URL' | trans }}"
                data-action="editor#newIndividual"
                data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
                 {{ icon_internet | raw }}
              </button>

              <button type="button"
                class="btn btn-outline-dark btn-sm btn-light"
                data-bs-toggle="tooltip"
                title="{{ 'New remote file' | trans }}"
                data-action="editor#newIndividual"
                data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
                 {{ icon_association | raw }}
              </button>

              <button type="button"
                class="btn btn-outline-dark btn-sm btn-light"
                data-bs-toggle="tooltip"
                title="{{ 'Upload file' | trans }}"
                data-action="editor#newIndividual"
                data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
                 {{ icon_association | raw }}
              </button>
              </span>
              <button type="button"
                class="btn btn-outline-dark btn-sm btn-light"
                data-bs-toggle="tooltip"
                title="{{ 'Edit selected media file' | trans }}"
                data-action="editor#newIndividual"
                data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
                 {{ icon_association | raw }}
              </button>

              <button type="button"
                class="btn btn-outline-dark btn-sm btn-light"
                data-bs-toggle="tooltip"
                title="{{ 'Delete selected media file' | trans }}"
                data-action="editor#newIndividual"
                data-editor-myurl-param="{{ url('api_individual_new', {url: 'Project01'} ) }} ">
                 {{ icon_delete | raw }}
              </button>


            </div>

            </div>
            {{ include('snippet/picture.html.twig', {image: url('app_media1'), ddefault: '\male-employee-icon.svg', }) }}

 
          </div>  {# row #}




        </div>  {# Container #}
      </form> {# Modal Body #}

        {# Modal Footer #}

        {{ include('snippet/modalfooter.html.twig') }}

    </div>  {# Modal Content#}
  </div>  {# Modal Dialog #}
</div>  {# Modal #}




