{#  editor/librarySourceRecords #}

{#

    Template 
    - project
#}





<div class="modal fade" id="modalRepositoryLibrary" tabindex="-1 aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      {# Modal Header#}

      <div class="modal-header">
        <h5 class="modal-title">{{ 'Repository Library' | trans }}</h5>

        {# Restrictions # }

        {{ include('editor/restrictions.html.twig', {form: 'modal'}) } #}



        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      {# Modal Body#}



      <form class="modal-body" name="modal">
        <div class="container-fluid">
          <div class="row">

            <div class="col-12">
              <div class="mb-2 sshadow">
                <label class= "small" for="idYYY0"> {{ 'Search term' | trans }}: </label>
                <input type="search"
                class="form-control form-control-sm shadow"
                id="idYYY0"
                name= 'npfx'
                value="{{ nam ? nam.npfx }}" >
              </div>
            </div>

            <div class="col-12 form-text shadow">
              <div class="input-group input-group-sm mb-3">
                Results: (<strong>{{ project.repositoryRecords | length }}</strong>)
              </div>
            </div>


            <div class="col-12">
              <div class="mb-2 sshadow">
                <label class= "small" for="idYYY01"> {{ 'Source title' | trans }}: </label>
                <select type="text"
                  class="form-select form-select-sm shadow"
                  id="idYYY01"
                  name='npfx'
                  multiple
                  size=10 >

                  {% for repo in project.repositoryRecords.slice(0, 10)  %}
                    <option>{{ repo.name }}</option>
                  {% endfor %}

                </select>
              </div>
            </div>


            <div class="col-6">
              <div class="input-group input-group-sm mb-3">
                <button class="btn btn-sm btn-outline-secondary" type="button">{{ icon_left | raw}}</button>

                <span class="input-group-text" id="basic-addon1">Page</span>
                <input type="text" class="form-control form-control-sm" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1">of</span>
                <span class="input-group-text" id="basic-addon1">245</span>
                <button class="btn btn-sm btn-outline-secondary" type="button" >{{ icon_right | raw}}</button>
              </div>
            </div>

            <div class="col-2">
              Test Col
            </div>

          </div>  {# row #}
          <div class="row">

            test row

          </div>  {# row #}
        </div>  {# Container #}
      </form> {# Modal Body #}

        {# Modal Footer #}

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>  {# Modal Content#}
  </div>  {# Modal Dialog #}
</div>  {# Modal #}




