{# Note Editor #}


<div class="modal fade" id="mlrModalNoteEditor" tabindex="-1 aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      {# Modal Header#}

      <div class="modal-header">
        <h5 class="modal-title">Note Editor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      {# Modal Body#}

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            {# GEDCOM Navne Struktur #}

            <div id="NodeEditor"
              class="col-10"
              _data-action= "input->editor#updatePersonalNameStructure"
              _data-editor-url-param="{{ url('api_individual_updatePersonalName', {url: 'Project01'} ) }}"
              _data-editor-name-id-param= {{ nam ? nam.id : ''
              }}>

              {# Title #}

              <div class="row ">
                <div class="col">
                  <div class="mb-2">
                    <label class= "small" for="idYYY0"> {{ 'Title' | trans }}: </label>
                    <input type="text"
                    class="form-control form-control-sm shadow"
                    id="idYYY0"
                    name= 'npfx'
                    value="{{ nam ? nam.npfx }}" >
                  </div>
                </div>
              </div>

              {# Text #}

              {{ include('editor/textEditor.html.twig') }}

            </div>
            <div class="col-2">
              <button role="button"
                class="btn btn-outline-dark btn-light btn-sm shadow"
                data-action="click->editor#notes"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{{ 'Notes' | trans }}">
                {{ constant('App\\Controller\\EditorController::ICON_NOTES') }}
              </button>
              <button type="button"
                class="btn btn-outline-dark btn-light btn-sm shadow"
                data-action="click->editor#sourceCitations"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="{{ 'Source Citations' | trans }}">
                {{ constant('App\\Controller\\EditorController::ICON_SOURCES') }}
              </button>

            </div>


          </div>

          <!--div class="row mb-2">
            <div class="col">


              <label class="small" for="XXX"> {{ 'Translations' | trans }} :</label>
              <select class="form-select form-select-sm shadow" id="XXX" size=5 aria-label="Default select example">

                {# % for p in parentlist % #}

                <option value="1"  onfocus='kilroy()'>Ludvig Rasmussen</option>

                {# % endfor % #}
              </select>

            </div>
          </div-->


          {# Table #}

          <div class="table-responsive overflow-scroll" style="height:200px">


          <table class="table table-sm table-bordered" style="height:150px">
            <caption>
              Dette er en test
            </caption>
            <thead class="position-fixedd">


            <tr>


              <th scope="col">#</th>
              <th scope="col">LANG</th>
              <th scope="col">MIME</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>DA</td>
              <td>text/plain</td>
              <td>Dette er titlen på min allerførste note</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>SV</td>
              <td>text/plain</td>
              <td>Dette er titlen på min næste meget lange note</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>SV</td>
              <td>text/html</td>
              <td>Dette er titlen på min allerførste note</td>
            </tr>
            <tr class="overflow-hidden">
              <th scope="row">4</th>
              <td>EN</td>
              <td>text/markdown</td>
              <td class="overflow-hidden">Dette er titlen på en særdeles lang note der helt givet vil gå over kanten på min minimale tabel</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>FR</td>
              <td>text/plain</td>
              <td>Dette er titlen på min allerførste notet</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>

    </div>


    {# Modal Footer #}

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>


</div>


