<!DOCTYPE html>
<html lang={{ app.request.getLocale() }}>

	{# Document Header #}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Codename Overlund">
    <meta name="description" content="Overlund Gedcom Editor">
  	<meta name="author" content="Michael Lindhardt Rasmussen">

    <title>{% block title %}{{ product }}{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
      <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


    {% block stylesheets %}
      {# Vi anvender Bootstrap #}

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

      {{ encore_entry_link_tags('app') }}

    {% endblock stylesheets %}


    {% block javascripts %}


      {{ encore_entry_script_tags('app') }}


    {% endblock %}
  </head>


	{# Document Body #}

  <body>

		{% block navbar %}

   		{{ include('navbar-primary.html.twig') }}

	  {% endblock navbar %}


    {% block body %}
    {% endblock body %}


    {% block jjavascripts %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

			<script>

				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  				return new bootstrap.Tooltip(tooltipTriggerEl)
					})


			</script>

			<script>
			  async function mymyNewIndividual(myUrl)
        {

          // const myUrl= {{ url('editorNewIndividual', {url: 'Project01'} ) }};
          const myInit= {
            mode: 'cors',
            credentials: 'include',
          };



          document.getElementById('idYYY0').value= 'Test06';

          // (A) FETCH "DUMMY.HTML"
          await fetch(myUrl, myInit);

          // (B) RETURN THE RESULT AS TEXT
          //.then((result) => {
          //  if (result.status != 200) { throw new Error("Bad Server Response"); }
          //  return result.text();
          //})

          // (C) PUT LOADED CONTENT INTO <DIV>
          //.then((content) => {
          //  document.getElementById("villy").innerHTML = content;
          //})

          // (D) HANDLE ERRORS - OPTIONAL
          //.catch((error) => { console.log(error); });

          document.getElementById('idYYY0').value= 'Test08';

        }
      </script>





    {% endblock jjavascripts %}

  </body>
</html>
