<!DOCTYPE html>
<html lang={{ app.request.getLocale() }}>

	{# Document Header #}

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="application-name" content="Codename Overlund">
    <meta name="description" content="Overlund Gedcom Editor">
    <meta name="generator" content="Symfony 6.1">
    <meta name="keywords" content="Gedcom Editor">

  	<meta name="author" content="Michael Lindhardt Rasmussen">

    <title>{% block title %}{{ product }}{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
      <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


    {% block stylesheets %}

      {# Vi anvender Bootstrap - aktuelt version 5.2.1 #}

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

      {# Vi anvender Bootstrap Icons - aktuelt version 1.9.1 #}

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

      {# Encore #}

      {{ encore_entry_link_tags('app') }}

    {% endblock stylesheets %}




    {% block javascripts %}

      {# { encore_entry_script_tags('app') } #}

    {% endblock %}
  </head>


	{# Document Body #}

  <body>

		{% block navbar %}

   		{{ include('navbar-primary.html.twig') }}

	  {% endblock navbar %}


    {% block body %}
    {% endblock body %}


    {% block jjavascripts %}

      {{ encore_entry_script_tags('app') }}


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


			<script>

				var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
				var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  				return new bootstrap.Tooltip(tooltipTriggerEl)
					})


			</script>

			<script>
			  async function mymyNewIndividual(myUrl)
        {

          // const myUrl= {{ url('editorNewIndividual', {url: 'Project01'} ) }};
          const myInit= {
            mode: 'cors',
            credentials: 'include',
          };



          document.getElementById('idYYY0').value= 'Test06';

          // (A) FETCH "DUMMY.HTML"
          await fetch(myUrl, myInit);

          // (B) RETURN THE RESULT AS TEXT
          //.then((result) => {
          //  if (result.status != 200) { throw new Error("Bad Server Response"); }
          //  return result.text();
          //})

          // (C) PUT LOADED CONTENT INTO <DIV>
          //.then((content) => {
          //  document.getElementById("villy").innerHTML = content;
          //})

          // (D) HANDLE ERRORS - OPTIONAL
          //.catch((error) => { console.log(error); });

          document.getElementById('idYYY0').value= 'Test08';

        }
      </script>





    {% endblock jjavascripts %}

  </body>
</html>
